@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /*centers items on the line (the x-axis by default)*/
  align-items: center; /*centers items on the cross-axis (y by default)*/
}

.app-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 4px hsl(0, 0%, 75%);
}

.decide-button {
  padding: 1rem;
  border-radius: .5rem;
  border-style: none;
  background-color: rgb(38, 0, 255);
  color: white;
  font-size: 1rem;

}

.decide-button:hover {
  cursor: pointer;
  opacity: 90%;
}

.choice-list-container {
  border: 1px solid hsl(0, 0%, 75%);
  margin-top: 1rem;
  border-radius: 10px;
}

.choice-list-title {
  font-weight: bold;
  padding: 1rem;
}

.choice-list {
    overflow-y: scroll;
    max-height: 300px;
}

.choice {
  padding: 1rem;
  border-top: 1px solid hsl(0, 0%, 80%);
}

.choice:hover {
  background-color: hsl(0, 0%, 92%);
  cursor: pointer;
}

.choice-selected {
  background-color: hsl(0, 0%, 92%);
}

.command-list-container {
  display: flex;
  margin-top: 1rem;
  justify-content:space-between;
}

.option-input-container {
  display: flex;
  align-items: center;
}

.option-input {
  padding: 1rem;
  margin-left: .5rem;
  border-radius: .5rem;
  border: 1px solid hsl(0, 0%, 60%);
}

.add-button {
  background-color: rgb(0, 196, 0);
  border-style: none;
  border-radius: .5rem;
  color: white;
  padding: 1rem;
}

.add-button:hover {
  cursor: pointer;
  opacity: 90%;
}

.remove-button {
  background-color: rgb(250, 0, 0);
  border-radius: .5rem;
  border-style: none;
  color: white;
  padding: 1rem;
}

.remove-button:hover {
  cursor: pointer;
  opacity: 90%;
}